.container{
    width: 80%;
    margin: auto;
    padding-top: 10%;
    font-size: 17px
}
.about{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 4px;
    margin: 20px 0;
}
.content{
    width: 50%;
    line-height: 30px;
    padding-left: 50px
}
.content h2{
    font-size: 24px;
    padding: 20px 0;
	text-align: center;
}
.content h2::after,article h1::after{
    background-color: #000;
	content: "";
	display: block;
	width: 15%;
	height: 3px;
	margin-right: 42%;
	margin-top: 8px;
}
.img{
    width: 500px;
    height: 300px;
    
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
article{
	background-color: #eee;
	width: 100%;
	padding: 30px;
}
article h1{
	text-align: center;
	font-size: 24px;
}
article ol li{
	padding: 15px;
}
.double img{
	height: 60%;
	padding-bottom: 20px;
}
/*medai*/
@media screen and (max-width: 697px) {
    .container{
        padding-top: 25%;
    }
    .container .about{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .container .about .img{
        width: 100%;
    }
    .content{
        width: 90%;
        margin: 10px auto;
        padding: 0;
    }
    article ol{
        font-size: 21px;
        list-style-position: inside;
    }
    article h1{
        padding-bottom: 20px;
    }
}